// Variaveis cores
$color-background-header: #182C61;
$color-background-body: #f5f6fa;
$color-link: #fff;
$color-button-text: #fff;
$color-button: #44bd32;
$color-button-hover: #4cd137;

// Font
$font-all: 'Roboto', sans-serif;